{% extends "base.html.twig" %}

{% use "bootstrap_4_layout.html.twig" %}

{% block body %}
    <div class="container">
    	<div class="row">
    		<div class="col-lg-12">
    			<br><br>
				<div class="panel panel-default text-center">
				  	<div class="panel-heading"><h2 class="welcome">SCHEDA OLIVO <span class="colour-orange">{{ codice }}</span></h2></div>
				  	<div class="panel-body">
				  		<div class="row">
					    	<div class="col-md-6">
					    		LATITUDINE: <strong>{{ infotree.latitude }}</strong>
					    	</div>
					    	<div class="col-md-6">
					    		SEZIONE: <strong>{{ infotree.section }}</strong>
					    	</div>
					    </div>	
					    <div class="row">	
					    	<div class="col-md-6">
					    		LONGITUDINE: <strong>{{ infotree.longitude }}</strong>
					    	</div>					    				    	
					    	<div class="col-md-6">
					    		FILA: <strong>{{ infotree.row }}</strong>
					    	</div>	
				    	</div>			    				    	
				  	</div>
				</div>
    		</div>
    	</div>	
		<div class="row">
			<div class="col-lg-12 new-comment hidden">
				{{ form_start(form, {'attr': {'class': 'form'}}) }}
				<div class="row">
					<div class="col">
				    {{ form_row(form.code, {'label': 'Codice', 'attr': {'class': 'form-control'}}) }}
					</div> 
					<div class="col">
				    {{ form_row(form.username, {'label': 'Nome', 'attr': {'class': 'form-control'}}) }}
					</div> 					   
				</div>
				<div class="row">   
					<div class="col"> 
				    {{ form_row(form.date, {'label': 'Data e ora', 'attr': {'class': 'form-control h-auto'}}) }}
				    </div>
					<div class="col"> 
				    {{ form_row(form.note, {'label': 'Nota', 'attr': {'class': 'form-control', 'rows': '6'}}) }}
				    </div> 				    
				</div>    
				<div class="row"> 
					<div class="col-lg-12">
				    	<button type="submit" class="btn btn-primary mb-4 float-right">Salva</button>
				    </div>
				</div>    
				{{ form_end(form) }}
			</div>
    	</div>	    	
    	<div class="row">
    		<div id="comment-wrap">
	    		<h4><button class="show-form-task">Nuova nota</button></h4>
				<ol class="commentslist"> 		 
				    {% for k, v in datatree %}
					<li id="comment-{{k}}">
						<article class="comment comment-body">
							<header>
								<div class="c-left">
									<h5>Il {{ v.date|date("m/d/Y") }} alle ore {{ v.date|date("H:i") }}</h5>
									<span class="comment-date">{{ v.username }} ha scritto:</span>
								</div>
							</header>
							<div class="whiteempty"></div>

							<div class="comment-box">
								<div class="comment-content">
									<div class="tpost">	
										<p>{{ v.note }}</p>
									</div>
								</div>
								<span class="deteletask"><a rel="nofollow" class="comment-reply-login" href="/trees/delete/{{ v.id }}">Elimina</a></span>
							</div>
						</article>
					</li>			
				    {% endfor %}
				</ol>  
			</div>	  		
		</div>
    </div>
{% endblock %}