{% extends "base.html.twig" %}

{% block title %}GreenGrey :: Lista Olivi{% endblock %}

{% block body %}
{% block javascripts %}
<script>
	$(document).ready( function () {
	    $('#treelist').DataTable({
	    	retrieve: true,
	    	pageLength: 30,
	    	language: {
	    		info: "Mostra _START_ su _END_ di _TOTAL_ totali",
	    		lengthMenu: "Mostra _MENU_ elementi",
	    		infoFiltered: "(filtrati su _MAX_ totali)",
	    		search: "Cerca",
			    paginate: {
			        first:      "Prima",
			        last:       "Ultima",
			        next:       "Avanti",
			        previous:   "Indietro"	    		
				}
	    	}
	    });
	} );
</script>
{% endblock %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<br><br>
			<table id="treelist" class="table">
				<thead>
					<tr>
						<th scope="col">#</td>
						<th scope="col">Codice</td>
						<th scope="col">Latitudine</td>
						<th scope="col">Longitudine</td>
						<th scope="col">Sezione</td>
						<th scope="col">Fila</td>
						<th scope="col">Scheda</td>
					</tr>
				</thead>
				<tbody>
				{% for t in trees %}
					<tr>
						<td>{{ t.id }}</td>
						<td>{{ t.code }}</td>
						<td>{{ t.latitude }}</td>
						<td>{{ t.longitude }}</td>
						<td>{{ t.section }}</td>
						<td>{{ t.row }}</td>
						<td><a href="/trees/{{t.code}}">Vedi</a></td>
					</tr>
				{% endfor %} 		
				</tbody>
			</table> 
		</div>
	</div>	
</div> 
{% endblock %}
